In [ ]:
import numpy as np

In [ ]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [ ]:
print(arr)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [ ]:
print(arr[1])

[4 5 6]

In [ ]:
print(arr[1][2]) #method 1

6

In [ ]:
print(arr[1,2]) #method 2

6

In [ ]:
print(arr)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [ ]:
print(arr*2)

[[ 2  4  6]
 [ 8 10 12]
 [14 16 18]]

In [ ]:
arr1 = np.array([1,2,3,4,5])
arr2 = np.array([[1,2,3],[4,5,6]])

In [ ]:
print(arr1)
print(arr2)

[1 2 3 4 5]
[[1 2 3]
 [4 5 6]]

In [ ]:
print(arr1.shape)
print(arr2.shape)

(5,)
(2, 3)

In [ ]:
print(arr1.size)
print(arr2.size)

5
6

In [ ]:
print(arr1.dtype)
print(arr2.dtype)

int64
int64

In [ ]:
# int64
# 9,223,372,036,854,775,807
# -9,223,372,036,854,775,807

In [ ]:
zeroarr1d = np.zeros(5)
print(zeroarr1d)

[0. 0. 0. 0. 0.]

In [ ]:
zeroarr2d = np.zeros([3,4])
print(zeroarr2d)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [ ]:
zeroarr3d = np.zeros([5,3,4])
print(zeroarr3d)

[[[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]

 [[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]

 [[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]

 [[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]

 [[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]]

In [ ]:
print(zeroarr3d[0])

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

## 13/07/2024
## Session 4

In [ ]:
a = np.array([[1,2],[3,4]])
b = np.array([[5,6],[7,8]])

### Arithmetic Operations

In [ ]:
print(np.add(a,b))

[[ 6  8]
 [10 12]]

In [ ]:
print(np.subtract(b,a))

[[4 4]
 [4 4]]

In [ ]:
print(np.multiply(a,b))

[[ 5 12]
 [21 32]]

In [ ]:
print(np.divide(b,a))

[[5.         3.        ]
 [2.33333333 2.        ]]

In [ ]:
print(np.floor_divide(b,a)) #//

[[5 3]
 [2 2]]

In [ ]:
print(np.mod(b,a)) #%

[[0 0]
 [1 0]]

In [ ]:
print(np.power(a,b))

[[    1    64]
 [ 2187 65536]]

### Comparison Operations

In [ ]:
x = np.array([13,19,8,54])
y = np.array([6,99,8,50])

In [ ]:
print(np.greater(x,y)) #>

[ True False False  True]

In [ ]:
print(np.less(x,y)) #<

[False  True  True False]

In [ ]:
print(np.equal(x,y))

[False False  True False]

In [ ]:
print(np.not_equal(x,y))

[ True  True False  True]

In [ ]:
print(np.greater_equal(x,y))

[ True False  True  True]

In [ ]:
print(np.less_equal(x,y))

[False  True  True False]

### Logical operations

In [ ]:
a = np.array([45,67,53,82,37])
b = np.array([96,65,38,29,18])

In [ ]:
print(np.logical_and(a>50,b>20))

[False  True  True  True False]

In [ ]:
print(np.logical_or(a>40,b<30))

[ True  True  True  True  True]

## Pandas

### Series

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = np.array(['vedansh','karthick','sandthosh','steve'])

In [ ]:
pandasSeries = pd.Series(data)
print(pandasSeries)

0      vedansh
1     karthick
2    sandthosh
3        steve
dtype: object

In [ ]:
pandasSeries = pd.Series(data,index=[13,14,88,93])
print(pandasSeries)

13      vedansh
14     karthick
88    sandthosh
93        steve
dtype: object

### Dataframes

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [ ]:
df = pd.DataFrame(data)
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
df = pd.DataFrame(data,index=['a','b','c'],columns=['x','y','z'])
print(df)

   x  y  z
a  1  2  3
b  4  5  6
c  7  8  9

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Score': [85, 90, 88, 92]
}
df = pd.DataFrame(data,index=['A001','A002','A003','A004'])
print("\nDataFrame:")
print(df)

DataFrame:
         Name  Age  Score
A001    Alice   25     85
A002      Bob   30     90
A003  Charlie   35     88
A004    David   40     92

In [ ]:
df.dtypes #to know the datatype of each column

Name     object
Age       int64
Score     int64
dtype: object

In [ ]:
print(df.index)

Index(['A001', 'A002', 'A003', 'A004'], dtype='object')

In [ ]:
df.columns

Index(['Name', 'Age', 'Score'], dtype='object')

In [ ]:
df.describe()

             Age      Score
count   4.000000   4.000000
mean   32.500000  88.750000
std     6.454972   2.986079
min    25.000000  85.000000
25%    28.750000  87.250000
50%    32.500000  89.000000
75%    36.250000  90.500000
max    40.000000  92.000000

In [ ]:
# What are different dtypes in a dataframe?

In [ ]:
import numpy as np

In [ ]:
np.zeros([2,3])

array([[0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
s = np.empty((2,3))
print(s)

[[0. 0. 0.]
 [0. 0. 0.]]

In [ ]:
np.ones([5,3])

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
np.full([6,5],10)

array([[10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10],
       [10, 10, 10, 10, 10]])

In [ ]:
n = np.array([[[[[1,2,3],[4,5,6]]]]])

In [ ]:
new_n = n.squeeze()
new_n.shape

(2, 3)

In [ ]:
n.shape

(1, 1, 1, 2, 3)

In [ ]:
arr = np.array([[1,2,3],[4,5,6]])
arr.tolist() #convert an np array into a list

[[1, 2, 3], [4, 5, 6]]

In [ ]:
arr = np.array([[1,2,3],[4,5,6]])
arr.flatten() #convert an np array into a 1d array

array([1, 2, 3, 4, 5, 6])

In [ ]:
arr.shape

(2, 3)

In [ ]:
arr.reshape(3,2)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [ ]:
arr.dtype

dtype('int64')

In [ ]:
arr.astype(float)

array([[1., 2., 3.],
       [4., 5., 6.]])

In [ ]:
x = [1,2,3]

In [ ]:
arr = np.array([[1,2,3],[4,5,6]])

In [ ]:
x in arr.tolist()

True

In [ ]:
arr.flatten()

array([1, 2, 3, 4, 5, 6])

In [ ]:
np.flip(arr)

array([[6, 5, 4],
       [3, 2, 1]])

In [ ]:
arr

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
arr[0:] #array[start:stop:step]

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
arr = np.array([[1,2],[3,4],[5,6],[7,8]])

In [ ]:
arr[0:3]

array([[1, 2],
       [3, 4],
       [5, 6]])

In [ ]:
arr[0:3:2]

array([[1, 2],
       [5, 6]])

In [ ]:
arr[:]

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [ ]:
arr[2:]

array([[5, 6],
       [7, 8]])

In [ ]:
arr[:2]

array([[1, 2],
       [3, 4]])

In [ ]:
arr[::-1]

array([[7, 8],
       [5, 6],
       [3, 4],
       [1, 2]])

### Data Processing

In [ ]:
import pandas as pd
df = pd.read_csv("sample_data/california_housing_test.csv")

In [ ]:
print(df)

      longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -122.05     37.37                27.0       3885.0           661.0
1       -118.30     34.26                43.0       1510.0           310.0
2       -117.81     33.78                27.0       3589.0           507.0
3       -118.36     33.82                28.0         67.0            15.0
4       -119.67     36.33                19.0       1241.0           244.0
...         ...       ...                 ...          ...             ...
2995    -119.86     34.42                23.0       1450.0           642.0
2996    -118.14     34.06                27.0       5257.0          1082.0
2997    -119.70     36.30                10.0        956.0           201.0
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]

In [ ]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
df.tail()

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
9994,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9995,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df[5:9]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0

In [ ]:
pd.read_csv
pd.read_json
pd.read_excel

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df[25:28]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
25,-118.03,34.16,36.0,1401.0,218.0,667.0,225.0,7.1615,484700.0
26,-122.42,37.76,52.0,3587.0,1030.0,2259.0,979.0,2.5403,250000.0
27,-118.39,33.99,32.0,2612.0,418.0,1030.0,402.0,6.6030,369200.0

In [ ]:
df.loc[:5,['total_rooms','households']]

   total_rooms  households
0       3885.0       606.0
1       1510.0       277.0
2       3589.0       495.0
3         67.0        11.0
4       1241.0       237.0
5       1018.0       204.0

In [ ]:
for col in df.columns:
    print(col)

longitude
latitude
housing_median_age
total_rooms
total_bedrooms
population
households
median_income
median_house_value

In [ ]:
df["longitude"].head()

0   -122.05
1   -118.30
2   -117.81
3   -118.36
4   -119.67
Name: longitude, dtype: float64

In [ ]:
for col in df.columns:
    print(df[col].head())

0   -122.05
1   -118.30
2   -117.81
3   -118.36
4   -119.67
Name: longitude, dtype: float64
0    37.37
1    34.26
2    33.78
3    33.82
4    36.33
Name: latitude, dtype: float64
0    27.0
1    43.0
2    27.0
3    28.0
4    19.0
Name: housing_median_age, dtype: float64
0    3885.0
1    1510.0
2    3589.0
3      67.0
4    1241.0
Name: total_rooms, dtype: float64
0    661.0
1    310.0
2    507.0
3     15.0
4    244.0
Name: total_bedrooms, dtype: float64
0    1537.0
1     809.0
2    1484.0
3      49.0
4     850.0
Name: population, dtype: float64
0    606.0
1    277.0
2    495.0
3     11.0
4    237.0
Name: households, dtype: float64
0    6.6085
1    3.5990
2    5.7934
3    6.1359
4    2.9375
Name: median_income, dtype: float64
0    344700.0
1    176500.0
2    270500.0
3    330000.0
4     81700.0
Name: median_house_value, dtype: float64